* {
  margin: 0; }

html, body, #root {
  height: 100%; }

body {
  background-color: #F4F4F4;
  text-align: center;
  min-width: 350px;
  font-family: "Roboto", sans-serif;
  font-size: 1em; }

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

h1 {
  margin-top: 10%;
  color: #E7040F;
  font-size: 1.8em; }
  @media screen and (min-width: 430px) {
    h1 {
      font-size: 2em; } }
  @media screen and (min-width: 980px) {
    h1 {
      margin-top: 5%; } }

.machine_section {
  width: 80%;
  height: 70%;
  max-width: 600px;
  margin: 10%; }
  @media screen and (min-width: 980px) {
    .machine_section {
      margin: 5%; } }

.drinks_section {
  background-color: #357EDD;
  width: 100%;
  height: 100%;
  border: 1px solid #357EDD;
  border-radius: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.options_section {
  height: 80%;
  width: 40%;
  padding: 2em 1em; }
  .options_section section {
    height: 100%; }
  .options_section article {
    height: 30%;
    margin: 2%; }
    .options_section article button {
      height: 100%;
      width: 100%;
      background-color: #F6FFFE;
      border-color: #F6FFFE;
      font-size: 1.2em;
      color: #E7040F; }

.steps_section {
  height: 80%;
  width: 60%;
  padding: 1em 0.5em;
  color: #357EDD; }
  .steps_section section {
    height: 100%;
    background-color: #F6FFFE;
    border-radius: 2%; }
    .steps_section section.counter_section {
      height: 30%;
      font-size: 1.2em;
      color: #E7040F;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      @media screen and (min-width: 430px) {
        .steps_section section.counter_section {
          height: 50%;
          font-size: 1.5em; } }
  .steps_section ol {
    height: 70%; }
    @media screen and (min-width: 430px) {
      .steps_section ol {
        height: 50%;
        font-size: 1.2em; } }
    .steps_section ol li {
      min-height: 10%;
      padding: 0.5em; }
