$grey: #F4F4F4;
$blue: #357EDD;
$lightblue: #F6FFFE;

* {
  margin:0; 
  padding: 0; 
}

html, body, #root {
  height: 100%;
}

body {
  background-color: $grey;
  text-align: center;
  min-width: 350px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  margin: 10% 0;
}

.drinks_section{
  background-color: $blue;
  width: 80%; 
  max-width: 600px;
  height: 50%;
  margin: 10%;
  border: 1px solid $blue;
  border-radius: 2%;
  display: flex; 
  flex-direction: row; 
  justify-content: space-around;

}

.options_section {
    width: 40%;
    padding: 2em 1em;

  & section {
    height: 100%;
  }

  & article {
    height: 30%; 
    margin: 2%;

    & button {
      height: 100%; 
      width: 100%; 
      background-color: $lightblue;
      border-color: $lightblue;

    }
  }
}

.steps_section {
  width: 60%;
  padding: 1em;

  & ul {
    height: 100%;
    background-color: $lightblue;
    border-radius: 2%;

      & li {
        min-height: 10%; 
        padding: 0.5em;
      }
  }
}