* {
  margin: 0;
  padding: 0; }

html, body, #root {
  height: 100%; }

body {
  background-color: #F4F4F4;
  text-align: center;
  min-width: 350px; }

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

h1 {
  margin: 10% 0; }

.drinks_section {
  background-color: #357EDD;
  width: 80%;
  max-width: 600px;
  height: 50%;
  margin: 10%;
  border: 1px solid #357EDD;
  border-radius: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.options_section {
  width: 40%;
  padding: 2em 1em; }
  .options_section section {
    height: 100%; }
  .options_section article {
    height: 30%;
    margin: 2%; }
    .options_section article button {
      height: 100%;
      width: 100%;
      background-color: #F6FFFE;
      border-color: #F6FFFE; }

.steps_section {
  width: 60%;
  padding: 1em; }
  .steps_section ul {
    height: 100%;
    background-color: #F6FFFE;
    border-radius: 2%; }
    .steps_section ul li {
      min-height: 10%;
      padding: 0.5em; }
